<section id="account-list">
	<div class="inner">
		<h2>アカウント一覧</h2>
		<form method="post">
		
			<nav>
				<div class="pager">
					<span class="block">1 - 100件 / 1349件</span>
					<ul>
						<li><a href="#" class="first">1&nbsp;…</a></li>
						<li><a href="#" class="page"><i class="icon">chevron_left</i></a></li>
						<li><a href="#" class="page">2</a></li>
						<li><a href="#" class="page">3</a></li>
						<li><a href="#" class="page checked">4</a></li>
						<li><a href="#" class="page">5</a></li>
						<li><a href="#" class="page">6</a></li>
						<li><a href="#" class="next"><i class="icon">chevron_right</i></a></li>
						<li><a href="#" class="last">…&nbsp;14</a></li>
					</ul>
				</div>
				<div class="limiter">
					<span class="block">100件表示</span>
					<ul>
						<li><a href="#">10</a></li>
						<li><a href="#" class="checked">100</a></li>
						<li><a href="#">200</a></li>
					</ul>
				</div>
			</nav>

			<table class="list">
				<thead>
					<tr>
						<th>管理番号</th><th>氏名</th><th>権限</th><th>レビュー提出数</th><th>障害報告数</th>
					</tr>
				<tbody>
					<tr>
						<td class="rm c">2000</td>
						<td><a href="#">NTT 太郎</a></td>
						<td class="rm c">一般</td>
						<td class="rm c">10</td>
						<td class="rm c">1</td>
					</tr>
					<tr>
						<td class="rm c">2000</td>
						<td><a href="#">NTT 太郎</a></td>
						<td class="rm c">承認者</td>
						<td class="rm c">10</td>
						<td class="rm c">1</td>
					</tr>
					<tr>
						<td class="rm c">2000</td>
						<td><a href="#">NTT 太郎</a></td>
						<td class="rm c">管理者</td>
						<td class="rm c">10</td>
						<td class="rm c">1</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</section>